@model Books.Models.ViewModels.AuthorViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Author Details</h3>

<div>
    <hr />
    <div class="py-1">
        <img src="@Model.Author.Image" alt="@Model.Author.Name" height="150"/>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Alias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Alias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Language.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Description)
        </dd>
        @if (Model.Author.Genre01 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author.Genre01)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Genre01.Name)
            </dd>
        }
        @if (Model.Author.Genre02 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author.Genre02)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Genre02.Name)
            </dd>
        }
        @if (Model.Author.Genre03 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author.Genre03)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Genre03.Name)
            </dd>
        }
        @if (Model.Author.Genre04 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author.Genre04)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Genre04.Name)
            </dd>
        }
        @if (Model.Author.Genre05 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author.Genre05)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Genre05.Name)
            </dd>
        }
        @if (Model.Author.Genre06 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author.Genre06)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Genre06.Name)
            </dd>
        }
        @if (Model.Author.Genre07 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author.Genre07)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Genre07.Name)
            </dd>
        }
    </dl>
    <div class="row">
        <div class="col-8 offset-2">
            <partial name="_EditDeleteBackButtonsPartial" model="@Model.Author.Id" />
        </div>
    </div>
</div>

<div>
    <form asp-action="Delete">
        <div class="modal fade" id="deleteModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog-centered modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-light">
                        <div class="col-10 offset-1">
                            <center><h3 class="modal-title">Delete Author</h3></center>
                        </div>
                        <div class="col-1">
                            <button type="button" class="float-right btn-light close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body justify-content-center text-center">
                        Are you sure you want to delete @Model.Author.Name?
                    </div>
                    <div class="row">
                        <div class="offset-1 col-10 my-2">
                            <partial name="_DeleteYesAndNoButtonsPartial" model="@Model.Author.Id" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{ 
    <script>
        // Open delete modal window when delete button is clicked
        // ------------------------------
        
        $("#deleteButton").click(function () {
            $("#deleteModal").modal('show');
        })
    </script>
}
