@model Books.Models.ViewModels.AuthorViewModel
@using Books.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit Author</h3>

<hr />

<partial name="_StatusMessagePartial" model="@TempData["StatusMessage"]" />

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="text-dark">
        <div class="py-1">
            <img src="@Model.Author.Image" alt="@Model.Author.Name" title="@Model.Author.Name" height="150" />
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.Image"></label>
            <input class="col-5 px-0" asp-for="@Model.Author.Image" type="file" name="files" />
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.Name"></label>
            <input class="col-5" asp-for="@Model.Author.Name" type="text" placeholder="Type author name..." />
            <span asp-validation-for="@Model.Author.Name" class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.Alias"></label>
            <input class="col-5" asp-for="@Model.Author.Alias" type="text" placeholder="Type author alias..." />
            <span asp-validation-for="@Model.Author.Alias" class="text-danger"></span>
        </div>
        <div>
            <div class="row form-group">
                <label class="col-2 text-left" asp-for="@Model.Author.Birthday"></label>
                <div class="col-5 px-0">
                    <input class="col-12" id="dateCalendar" type="date" />
                    <input class="col-12 my-1" id="dateInput" asp-for="@Model.Author.Birthday" />
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left text-wrap" asp-for="@Model.Author.Description"></label>
            <textarea class="col-5" asp-for="@Model.Author.Description" type="text" placeholder="Type author description..."
                      style="height:120px"></textarea>
            <span asp-validation-for="@Model.Author.Description" class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.LanguageId"></label>
            <select class="col-5" asp-for="@Model.Author.LanguageId" asp-items="Model.Languages.ToSelectListItem(Model.Author.LanguageId)">
            </select>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.GenreId01"></label>
            <select class="col-5" asp-for="@Model.Author.GenreId01"
                    asp-items="Model.Genres.ToSelectListItemPlusEmpty(Model.Author.GenreId01)">
            </select>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.GenreId02"></label>
            <select class="col-5" asp-for="@Model.Author.GenreId02"
                    asp-items="Model.Genres.ToSelectListItemPlusEmpty(Model.Author.GenreId02)">
            </select>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.GenreId03"></label>
            <select class="col-5" asp-for="@Model.Author.GenreId03"
                    asp-items="Model.Genres.ToSelectListItemPlusEmpty(Model.Author.GenreId03)">
            </select>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.GenreId04"></label>
            <select class="col-5" asp-for="@Model.Author.GenreId04"
                    asp-items="Model.Genres.ToSelectListItemPlusEmpty(Model.Author.GenreId04)">
            </select>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.GenreId05"></label>
            <select class="col-5" asp-for="@Model.Author.GenreId05"
                    asp-items="Model.Genres.ToSelectListItemPlusEmpty(Model.Author.GenreId05)">
            </select>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.GenreId06"></label>
            <select class="col-5" asp-for="@Model.Author.GenreId06"
                    asp-items="Model.Genres.ToSelectListItemPlusEmpty(Model.Author.GenreId06)">
            </select>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Author.GenreId07"></label>
            <select class="col-5" asp-for="@Model.Author.GenreId07"
                    asp-items="Model.Genres.ToSelectListItemPlusEmpty(Model.Author.GenreId07)">
            </select>
        </div>
        <div class="row">
            <div class="offset-2 col-5 px-0">
                <partial name="_EditAndBackToDetailsButtonsPartial" model="@Model.Author.Id" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 
    <script>
        // When back button is clicked go back 
        // to details view
        $("#backButton").click(function (e) {
            e.preventDefault();
            history.back();
        })
    </script>
}