@model Books.Models.ViewModels.BookViewModel
@using Books.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create Book</h3>

<hr />

<partial name="_StatusMessagePartial" model="@Model.StatusMessage" />

<form asp-action="Create" enctype="multipart/form-data">
    <div class="text-dark">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Name">Book Name</label>
            <input class="col-5" asp-for="@Model.Book.Name" type="text" autocomplete="off" placeholder="Type book name..."/>
            <span class="text-danger" asp-validation-for="@Model.Book.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.ReleaseDate">Release Date</label>
            <input class="col-5" type="date" asp-for="@Model.Book.ReleaseDate" />
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Description">Description</label>
            <textarea class="col-5 text-wrap" asp-for="@Model.Book.Description" placeholder="Type book description..."
                      style="height:120px"></textarea>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.OnStock">Amount on stock</label>
            <input class="col-5" asp-for="@Model.Book.OnStock" type="number" min="0"/>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Price"></label>
            <input class="col-5" asp-for="@Model.Book.Price" type="number" />
            <span asp-validation-for="@Model.Book.Price"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Type"></label>
            <select class="col-5" asp-for="@Model.Book.Type" asp-items="Html.GetEnumSelectList<Book.EType>()"></select>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Image"></label>
            <input class="col-5 px-0" asp-for="@Model.Book.Image" type="file" name="files" />
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Language.Name">Language</label>
            <input class="col-5 activeSearch" id="inputLanguage" type="text" asp-for="@Model.Book.Language.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Language.Id"
                    asp-items="Model.Languages.ToSelectListItem(Model.Book.Language.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Language"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Language.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Publisher.Name">Publisher</label>
            <input class="col-5 activeSearch" id="inputPublisher" type="text" asp-for="@Model.Book.Publisher.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Publisher.Id"
                    asp-items="Model.Publishers.ToSelectListItem(Model.Book.Publisher.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Publisher"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Publisher.Name"></span>
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Cover.Name">Cover</label>
            <input class="col-5 activeSearch" id="inputCover" type="text" asp-for="@Model.Book.Cover.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Cover.Id"
                    asp-items="Model.Covers.ToSelectListItem(Model.Book.Cover.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Cover"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Cover.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Author01.Name">Author 1</label>
            <input class="col-5 activeSearch" id="inputAuthor01" type="text" asp-for="@Model.Book.Author01.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Author01.Id"
                    asp-items="Model.Authors.ToSelectListItem(Model.Book.Author01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Author01"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Author01.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Author02.Name">Author 2</label>
            <input class="col-5 activeSearch" id="inputAuthor02" type="text" asp-for="@Model.Book.Author02.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Author01.Id"
                    asp-items="Model.Authors.ToSelectListItem(Model.Book.Author01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Author02"' />
            <span class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Author03.Name">Author 3</label>
            <input class="col-5 activeSearch" id="inputAuthor03" type="text" asp-for="@Model.Book.Author03.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Author01.Id"
                    asp-items="Model.Authors.ToSelectListItem(Model.Book.Author01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Author03"' />
            <span class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Author04.Name">Author 4</label>
            <input class="col-5 activeSearch" id="inputAuthor04" type="text" asp-for="@Model.Book.Author04.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Author01.Id"
                    asp-items="Model.Authors.ToSelectListItem(Model.Book.Author01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Author04"' />
            <span class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Author05.Name">Author 5</label>
            <input class="col-5 activeSearch" id="inputAuthor05" type="text" asp-for="@Model.Book.Author05.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Author01.Id"
                    asp-items="Model.Authors.ToSelectListItem(Model.Book.Author01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Author05"' />
            <span class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre01.Category.Name">Category 1</label>
            <input class="col-5 activeSearch category" id="inputCategory01" type="text" asp-for="@Model.Book.Genre01.Category.Name" autocomplete="off" />
            <select hidden id="listCategory01" asp-for="@Model.Book.Genre01.Category.Id"
                    asp-items="Model.Categories.ToSelectListItem(Model.Book.Genre01.Category.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Category01"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Genre01.Category.Name"></span>
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre01.Name">Genre 1</label>
            <input disabled class="col-5 activeSearch" id="inputGenre01" type="text" asp-for="@Model.Book.Genre01.Name" autocomplete="off" />
            <select hidden id="listGenres01" asp-for="@Model.Book.Genre01.Id"
                    asp-items="Model.Genres.ToSelectListItem(Model.Book.Genre01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Genre01"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Genre01.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre02.Category.Name">Category 2</label>
            <input class="col-5 activeSearch category" id="inputCategory02" type="text" asp-for="@Model.Book.Genre01.Category.Name" autocomplete="off" />
            <select hidden id="listCategory02" asp-for="@Model.Book.Genre01.Category.Id"
                    asp-items="Model.Categories.ToSelectListItem(Model.Book.Genre01.Category.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Category02"' />
            <span class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre02.Name">Genre 2</label>
            <input disabled class="col-5 activeSearch" id="inputGenre02" type="text" asp-for="@Model.Book.Genre02.Name" autocomplete="off" />
            <select hidden id="listGenres02" asp-for="@Model.Book.Genre01.Id"
                    asp-items="Model.Genres.ToSelectListItem(Model.Book.Genre01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Genre02"' />
            <span class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre03.Category.Name">Category 3</label>
            <input class="col-5 activeSearch category" id="inputCategory03" type="text" asp-for="@Model.Book.Genre03.Category.Name" autocomplete="off" />
            <select hidden id="listCategory03" asp-for="@Model.Book.Genre01.Category.Id"
                    asp-items="Model.Categories.ToSelectListItem(Model.Book.Genre01.Category.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Category03"' />
            <span class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre03.Name">Genre 3</label>
            <input disabled class="col-5 activeSearch" id="inputGenre03" type="text" asp-for="@Model.Book.Genre03.Name" autocomplete="off" />
            <select hidden id="listGenres03" asp-for="@Model.Book.Genre01.Id"
                    asp-items="Model.Genres.ToSelectListItem(Model.Book.Genre01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Genre03"' />
            <span class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre04.Category.Name">Category 4</label>
            <input class="col-5 activeSearch category" id="inputCategory04" type="text" asp-for="@Model.Book.Genre04.Category.Name" autocomplete="off" />
            <select hidden id="listCategory04" asp-for="@Model.Book.Genre01.Category.Id"
                    asp-items="Model.Categories.ToSelectListItem(Model.Book.Genre01.Category.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Category04"' />
            <span class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre04.Name">Genre 4</label>
            <input disabled class="col-5 activeSearch" id="inputGenre04" type="text" asp-for="@Model.Book.Genre04.Name" autocomplete="off" />
            <select hidden id="listGenres04" asp-for="@Model.Book.Genre01.Id"
                    asp-items="Model.Genres.ToSelectListItem(Model.Book.Genre01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Genre04"' />
            <span class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre05.Category.Name">Category 5</label>
            <input class="col-5 activeSearch category" id="inputCategory05" type="text" asp-for="@Model.Book.Genre05.Category.Name" autocomplete="off" />
            <select hidden id="listCategory05" asp-for="@Model.Book.Genre01.Category.Id"
                    asp-items="Model.Categories.ToSelectListItem(Model.Book.Genre01.Category.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Category05"' />
            <span class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre05.Name">Genre 5</label>
            <input disabled class="col-5 activeSearch" id="inputGenre01" type="text" asp-for="@Model.Book.Genre05.Name" autocomplete="off" />
            <select hidden id="listGenres05" asp-for="@Model.Book.Genre01.Id"
                    asp-items="Model.Genres.ToSelectListItem(Model.Book.Genre01.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Genre05"' />
            <span class="text-danger"></span>
        </div>
    </div>
</form>

<div class="row">
    <div class="offset-2 col-5 px-0">
        <partial name="_CreateAndBackButtonsPartial" />
    </div>
</div>

<div id="filteredList" class="">
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/filter.js"></script>
}
