@model Books.Models.ViewModels.BookViewModel
@using Books.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create Book</h3>

<hr />

<partial name="_StatusMessagePartial" model="@Model.StatusMessage" />

<form asp-action="Create">
    <div class="text-dark">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Author.Name"></label>
            <input class="col-5" type="text" asp-for="@Model.Book.Author.Name" />
            <button class="offset-1 col-1 btn m-0 p-0" id="authorBtn"><i class="fas fa-plus-circle"></i></button>
            <span asp-validation-for="@Model.Book.Author.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Name">Book Name</label>
            <input class="col-5" type="text" asp-for="@Model.Book.Name" />
            
            <span asp-validation-for="@Model.Book.Name"></span>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#authorBtn").click(function (e) {
            e.preventDefault();
        });
    </script>
}
