@model Books.Models.ViewModels.BookViewModel
@using Books.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create Book</h3>

<hr />

<partial name="_StatusMessagePartial" model="@Model.StatusMessage" />

<form asp-action="Create">
    <div class="text-dark">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Name">Book Name</label>
            <input class="col-5" type="text" asp-for="@Model.Book.Name" />

            <span asp-validation-for="@Model.Book.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Author.Name">Author</label>
            <input class="col-5" type="text" asp-for="@Model.Book.Author.Name" />
            <partial name="_CreateButtonGreenPartial" model='"Author"' />
            <span asp-validation-for="@Model.Book.Author.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Language.Name">Language</label>
            <input class="col-5" type="text" asp-for="@Model.Book.Language.Name" />
            <partial name="_CreateButtonGreenPartial" model='"Language"' />
            <span asp-validation-for="@Model.Book.Language.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Publisher.Name">Publisher</label>
            <input class="col-5" type="text" asp-for="@Model.Book.Publisher.Name" />
            <partial name="_CreateButtonGreenPartial" model='"Publisher"' />
            <span asp-validation-for="@Model.Book.Publisher.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre.CategoryId">Category</label>
            <select id="ddlCategories" asp-for="@Model.Book.Genre.CategoryId"
                    asp-items="Model.Categories.ToSelectListItem(Model.Book.Genre.CategoryId)"
                    class="form-control col-5"></select>
            <partial name="_CreateButtonGreenPartial" model='"Category"' />
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre.Name">Genre</label>
            <input class="col-5" type="text" asp-for="@Model.Book.Genre.Name" />
            <partial name="_CreateButtonGreenPartial" model='"Genre"' />
            <span asp-validation-for="@Model.Book.Genre.Name"></span>
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Cover.Name">Cover</label>
            <input class="col-5" type="text" asp-for="@Model.Book.Cover.Name" />
            <partial name="_CreateButtonGreenPartial" model='"Cover"' />
            <span asp-validation-for="@Model.Book.Cover.Name"></span>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
