@model Books.Models.ViewModels.BookViewModel
@using Books.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create Book</h3>

<hr />

<partial name="_StatusMessagePartial" model="@Model.StatusMessage" />

<form asp-action="Create">
    <div class="text-dark">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Name">Book Name</label>
            <input class="col-5" type="text" asp-for="@Model.Book.Name" autocomplete="off" />
            <span class="text-danger" asp-validation-for="@Model.Book.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Author.Name">Author</label>
            <input class="col-5 activeSearch" id="inputAuthor" type="text" asp-for="@Model.Book.Author.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Author.Id"
                    asp-items="Model.Authors.ToSelectListItem(Model.Book.Author.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Author"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Author.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Language.Name">Language</label>
            <input class="col-5 activeSearch" id="inputLanguage" type="text" asp-for="@Model.Book.Language.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Language.Id"
                    asp-items="Model.Languages.ToSelectListItem(Model.Book.Language.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Language"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Language.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Publisher.Name">Publisher</label>
            <input class="col-5 activeSearch" id="inputPublisher" type="text" asp-for="@Model.Book.Publisher.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Publisher.Id"
                    asp-items="Model.Publishers.ToSelectListItem(Model.Book.Publisher.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Publisher"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Publisher.Name"></span>
        </div>
        <div class="row form-group">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre.Category.Name">Category</label>
            <input class="col-5 activeSearch" id="inputCategory" type="text" asp-for="@Model.Book.Genre.Category.Name" autocomplete="off" />
            <select hidden id="listCategory" asp-for="@Model.Book.Genre.Category.Id"
                    asp-items="Model.Categories.ToSelectListItem(Model.Book.Genre.Category.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Category"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Genre.Category.Name"></span>
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Genre.Name">Genre</label>
            <input disabled class="col-5 activeSearch" id="inputGenre" type="text" asp-for="@Model.Book.Genre.Name" autocomplete="off" />
            <select hidden id="listGenres" asp-for="@Model.Book.Genre.Id"
                    asp-items="Model.Genres.ToSelectListItem(Model.Book.Genre.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Genre"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Genre.Name"></span>
        </div>
        <div class="form-group row">
            <label class="col-2 text-left" asp-for="@Model.Book.Cover.Name">Cover</label>
            <input class="col-5 activeSearch" id="inputCover" type="text" asp-for="@Model.Book.Cover.Name" autocomplete="off" />
            <select hidden asp-for="@Model.Book.Cover.Id"
                    asp-items="Model.Covers.ToSelectListItem(Model.Book.Cover.Id)"></select>
            <partial name="_CreateButtonGreenPartial" model='"Cover"' />
            <span class="text-danger" asp-validation-for="@Model.Book.Cover.Name"></span>
        </div>
    </div>
</form>

<div class="row">
    <div class="offset-2 col-5 px-0">
        <partial name="_CreateAndBackButtonsPartial" />
    </div>
</div>

<div id="filteredList" class="">
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/filter.js"></script>
}
